<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @external_user.email %>
</p>

<%= link_to 'Edit', edit_external_user_path(@external_user) %> |
<%= link_to 'Back', external_users_path %>
