<h1>Общи условия</h1>

<p>Уважаеми изложители, молим да се запознаете със следните общи условия за участие в Grand Chocolate Festival:</p>

<p>Изложителите се задължават да спазват часовете за подготовка и напускане на залата, които са договорени от
  страна на организатора и Интер Експо Център. Ако при забавяне от страна на изложителите да напуснат залата в срок в петък, събота и неделя,
  по време на подготовката на събитието, на организатора бъдат наложени санкции по договора с Интер Експо Център, те ще бъдат
  фактурирани на изложителя, който е причинил санкциите.</p>

<p>Изложителят е длъжен да предупреди организатора за всякакви конструкции и дейности по изграждане на щандове, различни
  от предоставените от организатора, за да може да се съгласува тяхното осъществяване с Интер Експо Център. Интер Експо Център
  може да забрани извършването на такъв тип дейности, ако счете, че те са опасни за стените и пода на залата, както и
  прилежащите им конструкции, като изложителят е длъжен да приеме решението на Интер Експо Център. Всякакви глоби и санкции, които
  възникнат от страна на Интер Експо Център към организатора, в следствие на дейността и подготовката на изложителя, както
  и всякакви злонамерени действия от страна на изложителя, ще бъдат фактурирани на изложителя, който е причинил санкциите.</p>

<p>Изложителят е длъжен да има представители на щанда си по време на цялото време на фестивала, през което е отворено за посетители.
  Изложителят няма право да си тръгне по време на работното време на изложението, събота и неделя, от 10 до 18 часа, и да
  остави щанда си празен. В случай на преждевременно освобождаване на щанда, на изложителя се налага глоба в размер на 200 лева без ДДС. </p>

<p>Изложителят се задължава да не проявява обидно отношение към организатора и служителите на фирмата организатор
  и нейните партьори, като осъзнава, че това може да доведе до прекратяване на участието на изложителя във фестивала, преди
  и по време на фестивала. Това включва употребата на груб език към хората от фирмата организатор, както и обидно поведение.</p>

<p>Изложителят се задължава да спазва сроковете на плащане, обозначени на проформа фактурата, която организаторът изпраща
  и осъзнава, че избрания от него щанд се пази временно до изтичане на проформа фактурата и ако не постъпи плащане към
  организатора, щандът се освобождава и може да бъде предоставен на друг изложител. Изложителят се задължава да спазва
  сроковете всякакви други проформи фактури, ако има такива, касаещи допълнително изграждане на щандови констуркции, украса,
  изграждане на мивки, пускане на интернет или допълителен ток, наложени санкции и т.н.</p>

<p>Изложителят няма право да проявява неколегиално отношение към останалите участници във фестивала и да настройва
  посетителите срещу продуктите на конкурентни фирми.</p>

<p>Зареждането на щандове става в часовете, предварително изпратени от организатора и съгласувани с Интер Експо Център.
  Организаторът изпраща разясняващ имейл към изложителите с подробности за зареждането най-късно 7 дена преди фестивала.
  Ако в този срок изложителят не смята, че е получил имейл, трябва да се свърже с организатора и да помоли имейлът да бъде
  препратен. Ако изложителят не се свърже с организатора, организаторът счита, че изложителят е информаран за часовете за
  зареждане и освобождаване на щандовете и е длъжен да ги спазва.</p>

<p>При предоставяне на награда за томболата, изложителят е длъжен да организира логистиката по получаване на наградата
  от печелившия. Това може да включва покана в търговския обект на изложителя, за да получи печелившият поканата, изпращане
  по куриер за сметка на изложителя или друг начин. Изложителят няма право да откаже предоставяне на наградата и няма
  право на неуважително държание спрямо печелившия.</p>

<p>Изложителят е длъжен да редактира информацията си във въпросника за изложители, при възникване на промени. Ако изложителят
  не редактира въпросника, се счита, че информацията в него е актуална и организаторът работи с нея.</p>
