<h1>Общи условия</h1>

<p>Уважаеми участници, за да бъдете участници във събитието, което организираме,
  а именно Grand Chocolate Festival 2018, трябва да се ангажирате да спазвате следните
  правила–произтичащи от актуалното действащо нормативно законодателство в областта на безопасността на храните:</p>

<ol>
  <li>Обектът ви трябва да е регистриран по ред на чл.12 от Закона за храните,
    което се удостоверява със заверено копие от „Удостоверение за регистрация”
    от съответната ОДБХ по адрес на обекта;</li>
  <li>Персонал – хората, които ще обслужват клиентите и храните на щандовете трябва
    да имат редовно заверени лични здравни книжки по реда на Наредба № 15 от 27 юни 2006 г.
    за здравните изисквания към лицата, работещи в предприятията, които произвеждат или търгуват с храни;
    ЛЗК се съхраняват на място по време на изложението и се представят при поискване от
    контролните органи от ОДБХ София-град (при проверка);</li>
  <li>Работно облекло – от подходяща материя, цвят и дизайн с включени средства за прибиране на косите,
    ръкавици за еднократна употреба;</li>
  <li>С писмена заповед Управителят на фирмата е назначил отговорник по безопасност на храните,
    който ще съблюдава за спазването на всички правила и ще присъства по време на изложението.
    Моля, да ни предоставите копие от горе-цитираната заповед;</li>
  <li>В случай, че храните, които ще бъдат представени на изложението изискват специален режим на съхранение:
    Молим, да ни предоставите:
    „Копие от регистрацията на МПС” в съответната ОДБХ. По време на изложението
    трябва да се водят записи в специални чек-листа  - за поддържаната температура  в хладините/ минусовите съоръжения,
    които ще се използват за съхранение на предлаганите храни – Приложение 1 от имейла</li>
  <li>Входящ контрол  - Всяка внесена храна, преди да бъде предложена на посетителите трябва да бъде описана
    в чек-лист за входящ контрол на приетата храна – Приложение 2 отимейла.
    Всяка доставка на храна има придружаващ документ , от който са видни следните данни:
    вид на храната, количество,  производител (вносител), партиден номер, срок на годност, условия на съхранение.
    Придружаващите документи се пазят на място в обекта до приключване на изложението.</li>

  <li>За храните в насипен вид (неопакован) трябва да се спазват следните правила:
    <ul>
      <li>Храните да не са в пряк контакт с посетителите, да бъдат поставени в кутии,
        под капаци или изолирани по друг подходящ начин.</li>
      <li>При боравенето с неопаковани храни персоналът трябва да използва щипки, ръкавици,
        салфетки или други подходящи начини предпазващи от замърсяване храните;</li>
      <li>Всички материали използвани за опаковане на храните трябва имат сертификат,
        че са годни да бъдат в контакт с храни; сертификатът трябва да се съхранява
        на място в обекта по време на изложението;</li>
      <li>По подходящ начин, чрез списъци или етикети за многократна употреба – да се обявят съдържащите се алергени
          (по смисъла на Регламент 1169/2011) – конкретно за всеки един асортимент – Приложение 3 (списък с алергени);</li>
    </ul>
  </li>


  <li>За храните, които са предварително опаковани
Определение за предварително опаковани храни според Регламент 1169/2011:
 „предварително  опакована храна“ означава всяка единична бройка,
 предназначена да бъде представена като такава на крайния потребител и на заведенията за обществено хранене,
 състояща се от храна и опаковката, в която тя е поставена преди да бъде предложена за продажба,
 независимо дали опаковката обвива храната изцяло или отчасти, но във всеки случай по такъв начин,
 че съдържанието да не може да се промени без да се отвори или без да се смени опаковката;
 Всяка предварително опакована храна трябва да има индивидуален етикет съдържащ следните данни:
 според Регламент 1169/2011
  <br>
    <p>Член 9</p>
    <p>Списък на задължителните данни</p>
    <p>1. В съответствие с членове 10—35 и съобразно изключенията, които се съдържат в настоящата глава,
      е задължително да се посочат следните данни:</p>
      <ul>
        <li>а) наименование на храната;</li>
        <li>б) списък на съставките;</li>
        <li>в) всички съставки или спомагателни вещества, изброени в приложение II,
          или получени от вещество или продукт, посочени в приложение II,
          причиняващи алергии или непоносимост, които се използват за производство или
          приготвяне на храна и все още присъстват в крайния продукт, дори и в изменен вид;</li>
        <li>г) количество на определени съставки или категории съставки;</li>
        <li>д) нетно количество на храната;</li>
        <li>е) срок на минимална трайност или срок на годност;</li>
        <li>ж) специални условия за съхранение и/или условия за употреба;</li>
        <li>з) името или търговско наименование и адрес на стопанския субект в хранителната промишленост,
          посочен в член 8, параграф 1;</li>
        <li>и) страна на произход или място на произход, когато са предвидени такива в член 26;</li>
        <li>й) указания за употреба, когато при липсата на такива указания би било трудно храната
          да се използва по подходящ начин;</li>
        <li>к) по отношение на напитки, съдържащи повече от 1,2 обемни процента алкохол,
          действителното обемно съдържание на алкохол;</li>
        <li>л) обявяване на хранителната стойност.</li>
      </ul>
  <p>Според Наредбата за етикетиране:</p>
  <p>Чл. 5. При етикетирането на храните освен данните по чл. 9 от Регламент (ЕС) № 1169/2011
задължително се посочва маркировка, позволяваща идентифициране на партидата, към която принадлежи храната.</p></li>

</ol>
